<p>pager works!</p>
<header>
    <span *ngIf="totalCount && totalCount > 0">
        Showing 
        <strong>
            {{(pageNumber-1) * pageSize+1}} -
            {{pageNumber*pageSize
                 > this.totalCount
                 ? this.totalCount
                 : pageNumber*pageSize
            }}

        </strong>of<strong>16</strong> Results</span>
        <span *ngIf="totalCount === 0">
            There are <strong>0</strong> results fot this filter
        </span>
</header>